
.container {
	max-width: 960px;
	margin: 0 auto;
}


.module {
	&:last-child {
		margin-bottom: 0;
	}

	&.parallax {
		height: 600px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	&.parallax {
		background-image: url("../images/office.jpg");
	}
}